.aboutVideoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkHover {
  &:hover {
    color: var(--link-hover-color);
  }
}
