.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputContainer {
  margin-bottom: 15px;
  width: 50%;

  @media screen and (max-width: 992px) {
    width: 100%;
    text-align: center;
  }
}

.label {
  font-size: 1.5em;
}

.input {
  width: 100%;
  height: 42px;
  outline: none;
  border: 1px solid rgba(200, 200, 200, 0.03);
  padding: 0 10px;
  transition: all, 200ms ease-in-out;
  box-sizing: border-box;
  border-bottom: 1.4px solid rgba(200, 200, 200, 0.4);

  &::placeholder {
    color: rgba(170, 170, 170, 1);
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--link-hover-color);
  }
}

.errorMessage {
  font-weight: bold;
  color: var(--color-red-1);
  margin-top: 5px;
  min-height: 20px;
}

.modalTextLine {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.modalButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modalButton {
  font-size: 1em;
}
